<footer class="site-footer">
  <div class="wrapper">
    <div class="socials">
      {% for social in site.data.socials %}
      	{% assign font-awesome = '' %}
      	{% assign bg-image = '' %}
      	{% if social.font-awesome %}
		    {% assign font-awesome = social.icon %}
		{% else %}
			{% assign bg-image = social.icon %}
		{% endif %}
        <a class="{{ font-awesome }}" style="background-image: url({{ bg-image | relative_url }})"href="{{ social.link }}"></a>
      {% endfor %}
    </div>
  </div>
</footer>