<!DOCTYPE html>
<html>
	<head>
	  <link rel="stylesheet" type="text/css" href="{{ '/assets/styles.css' | base_url }}" >
	  <link rel="stylesheet" type="text/css" href="{{ '/assets/jills-styles.css' | base_url }}" >
	</head>
  <body>
  	{% include header.html %}
      {{ content }}
    {% include footer.html %}
  </body>
  <script type="text/javascript" src="{{ '/assets/jquery.min.js' | base_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/scripts.js' | base_url }}"></script>
</html>