<!DOCTYPE html>
<html>
	<head>
    <title>cf</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/images/favicon-16x16.png' | relative_url }}">
    <link rel="manifest" href="{{ '/assets/images/site.webmanifest' | relative_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
    <script rel="preload" type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
	  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/styles.css' | relative_url }}" >
	  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/jills-styles.css' | relative_url }}" >
	</head>
  <body>
  	{% include header.html %}
      <div class="wrapper">
        {{ content }}
      </div>
    {% include footer.html %}
  </body>
  <script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ '/assets/js/scripts.min.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/comment.min.js' | relative_url }}"></script>
  
  <!-- <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.0/moment.min.js"></script>

  <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

  <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>

  <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-analytics.js"></script>

  <!-- Add Firebase products that you want to use -->
  <!-- <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script> -->
  <!-- <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script> -->
    

    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-database.js"></script>
    
  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyALi93BQ8vJIXf7pX6m4ZMIAATytOg4Fso",
      authDomain: "cfactoryboston.firebaseapp.com",
      databaseURL: "https://cfactoryboston.firebaseio.com",
      projectId: "cfactoryboston",
      storageBucket: "cfactoryboston.appspot.com",
      messagingSenderId: "191553537801",
      appId: "1:191553537801:web:b6d141c130172b896ff5d8",
      measurementId: "G-1VFNTJLNBD"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
  </script>


  <script type="text/javascript"  src="{{ '/assets/js/blog.min.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/detect_mobile_height.min.js' | relative_url }}"></script>
</html>