<!DOCTYPE html>
<html>
	<head>
    <title>CF</title>
    {% include favicon.html %}
    <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
	  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/styles.css' | relative_url }}" >
	  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/jills-styles.css' | relative_url }}" >
    <link defer="true" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" rel="stylesheet" type="text/css">
	</head>
  <body>
  	{% include header.html %}
      <div class="wrapper">
        {{ content }}
      </div>
    {% include footer.html %}
  </body>
  <script src="https://code.jquery.com/jquery-3.5.0.slim.min.js" integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs=" crossorigin="anonymous"></script>

  <script type="text/javascript" src="{{ '/assets/js/scripts.min.js' | relative_url }}"></script>
</html>